.container
  .book-white
    %h1.text-center=@story.title
    %hr
    .details
      =render "details", story:@story, chapter:@chapter
    %h5.text-center="Chapter #{@chapter.number}: #{@chapter.title}"
    %hr
    -html = Nokogiri::HTML(@chapter.chapter_text)
    -i = 1
    -p = html.css("p")
    -p.each do |line|
      -line['id'] = "chapt-p-#{i}"
      -i = i+1
    #selection=html.to_html.html_safe
    =link_to 'edit', edit_mystory_chapter_path(@story, @chapter) if user_owned?
  .chapters-continue
    .next-info
      -if @next_chapter
        =link_to mystory_chapter_path(@story, @next_chapter) do
          .next-info-text
            %div="Continue Reading"
            .next-chapter-font="Chapter #{@chapter.number + 1}: #{@next_chapter.title}"
            .continue-caret.pull-right
              %i.fa.fa-caret-right
    .more-info
      moreinfo

    -#-if @next_chapter
    -#  =link_to "Chapter #{@chapter.number + 1}", mystory_chapter_path(@story, @next_chapter), class: "next_link"
    -#-else
    -#  The End
    -#  =link_to "Back to Index", mystory_path(@story)
  -#.well
  -#  %form
  -#    %textarea{id:"txtBlock"}
  -#:javascript
  -#
  -#  new TextHighlighter(selection, {
  -#    onAfterHighlight: function (range) {
  -#      alert(strip(range));
  -#    }
  -#  });
  -#
  -#  colors.onColorChange(function (color) {
  -#    hltr.setColor(color);
  -#  });
  -#
  -#  function strip(html)
  -#  {
  -#    var tmp = document.createElement("DIV");
  -#    tmp.innerHTML = html;
  -#    return tmp.textContent || tmp.innerText || "";
  -#  }
  -#
